body {
    line-height: 1.4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";
